@import '~@angular/material/theming';
@include mat-core();

$Alianzas-primary: mat-palette($mat-indigo);
$Alianzas-accent: mat-palette($mat-pink, A200, A100, A400);

$Alianzas-primary: mat-palette($mat-green, 700, 800, 800);
$Alianzas-accent: mat-palette($mat-light-blue, 700, 800, 800);
$Alianzas-warn: mat-palette($mat-deep-orange);
$Alianzas-theme: mat-light-theme($Alianzas-primary, $Alianzas-accent, $Alianzas-warn);

$color-accent: #0288d1;

@include angular-material-theme($Alianzas-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
